.app {
  box-sizing: border-box;
  padding: 0.5rem;
  min-height: 100vh;
  background-color: #4bcffa; }

.view-restaurants {
  font-family: 'Roboto', sans-serif; }
  .view-restaurants .view-restaurants-head {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: row; }
    .view-restaurants .view-restaurants-head section {
      flex: 1;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      /* NEW, Spec - Firefox, Chrome, Opera */
      justify-content: center;
      align-items: center; }
      .view-restaurants .view-restaurants-head section a {
        text-decoration: none;
        color: black; }
  .view-restaurants h2 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white; }

.restaurant-list {
  width: 80%;
  margin: auto;
  font-family: 'Roboto', sans-serif; }
  .restaurant-list .restaurant-list-item {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-sizing: border-box;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    background-color: white;
    color: black; }
    .restaurant-list .restaurant-list-item section:nth-child(1) {
      height: 100px;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      /* NEW, Spec - Firefox, Chrome, Opera */
      justify-content: center;
      align-items: center; }
      .restaurant-list .restaurant-list-item section:nth-child(1) img {
        height: 50px; }
    .restaurant-list .restaurant-list-item section:nth-child(2) {
      flex: 1; }
      .restaurant-list .restaurant-list-item section:nth-child(2) ul {
        list-style: none; }
        .restaurant-list .restaurant-list-item section:nth-child(2) ul li {
          font-weight: 200;
          border-bottom-style: solid;
          border-bottom-width: 1px;
          border-bottom-color: lightgray;
          min-height: 32px;
          line-height: 32px;
          display: block;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          overflow-wrap: break-word;
          word-wrap: break-word;
          -ms-word-break: break-all;
          /* This is the dangerous one in WebKit, as it breaks things wherever */
          word-break: break-all;
          /* Instead use this non-standard one: */
          word-break: break-word;
          /* Adds a hyphen where the word breaks, if supported (No Blink) */
          -ms-hyphens: auto;
          -moz-hyphens: auto;
          -webkit-hyphens: auto;
          hyphens: auto; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

* {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=style.css.map */
